################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quickybakkers_app/Quicky.SportsApp/.vs/Quicky.SportsApp/v15
.vs
/quicky.bakkers/quicky.bakkers.services/bin
/quicky.bakkers/quicky.bakkers.services/obj
/quicky.bakkers/quicky.bakkers.models/bin
/quicky.bakkers/quicky.bakkers.models/obj
/quicky.bakkers/quicky.bakkers/quicky.bakkers.Android/bin
/quicky.bakkers/quicky.bakkers/quicky.bakkers.Android/obj
/quicky.bakkers/quicky.bakkers/quicky.bakkers.iOS/bin
/quicky.bakkers/quicky.bakkers/quicky.bakkers.iOS/obj
