################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quickybakkers_app/Quicky.SportsApp/.vs/Quicky.SportsApp/v15
