<ion-view view-title="Add game">
    <!--<ion-content></ion-content>-->
    <ion-slides options="swiperOptions" slider="swiper" ion-wizard>
        <ion-slide-page ion-wizard-step class="has-header">
            <!--next-condition="(players | filter:{checked:true}).length == 4 && select.dateSelected != 0"-->
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Gamedate
                            </div>
                            <!--<select ng-model="gamedate" ng-options="(gd.dateval | date:'dd/MM/yyyy') for gd in gamedates">
                                <option value="">-- pick date --</option>
                            </select>-->
                            <select ng-model="select.dateSelected">
                                <option ng-repeat="gd in gamedates" value="{{gd.dateval}}">{{gd.dateval | date:'dd/MM/yyyy'}}</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ion-list>
                        <ion-checkbox class="pointer" ng-model="item.checked" ng-repeat="item in players">{{item.name}}</ion-checkbox>
                    </ion-list>
                </div>
            </div>
        </ion-slide-page>

        <ion-slide-page ion-wizard-step class="has-header">
            2
        </ion-slide-page>

        <ion-slide-page ion-wizard-step class="has-header">
            3
        </ion-slide-page>

    </ion-slides>
    <div class="bar bar-footer bar-footer-wizard">
        <div class="row">
            <div class="col">
                <button class="button button-balanced wizard-button" ion-wizard-previous>Previous</button>
            </div>
            <div class="col">
                <button class="button button-balanced wizard-button" style="float: right;" ion-wizard-next>Next</button>
            </div>
        </div>
    </div>
</ion-view>