<ion-view view-title="Ranking">
  <ion-nav-buttons side="right">
    <!--<button class="button button-turn-screen"></button>-->
    <button class="button icon ion-ios-upload-outline" title="Download image" ng-click="saveRankingImage();"></button>
  </ion-nav-buttons>

  <ion-content id="myRanking">

   <canvas id="myCanvas" width="700" height="650" style="border:1px solid #d3d3d3; display: none;">Your browser does not support the HTML5 canvas tag.</canvas>

    <ul class="list">
      <li class="item ranking-row ranking-row-header">
        <div class="row">
          <div class="col col-10">#</div>
          <div class="col"></div>
          <div class="col col-10" title="Matches played">MP</div>
          <div class="col col-10 hidden-xs" title="Win">W</div>
          <div class="col col-10 hidden-xs" title="Draw">D</div>
          <div class="col col-10 hidden-xs" title="Lost">L</div>
          <div class="col col-10" title="Attendance points">A</div>
          <div class="col col-10" title="Goals scored">G</div>
          <div class="col col-10" title="Points">P</div>
        </div>
      </li>
      <li class="item ranking-row" ng-repeat="p in players | orderBy:'-points'" ng-class="$index % 2 == 0 ? 'ranking-row-even' : ''">
        <div class="row">
          <div class="col col-10">{{$index+1}}.</div>
          <div class="col">{{p.name}}</div>
          <div class="col col-10">{{p.matchesPlayed}}</div>
          <div class="col col-10 hidden-xs">{{p.amountWon}}</div>
          <div class="col col-10 hidden-xs">{{p.amountDraw}}</div>
          <div class="col col-10 hidden-xs">{{p.amountLose}}</div>
          <div class="col col-10">{{p.attendancePoints}}</div>
          <div class="col col-10">{{p.goalsScored}}</div>
          <div class="col col-10">{{p.points}}</div>
        </div>
      </li>
    </ul>
  </ion-content>

</ion-view>