<ion-view view-title="Close gamedate">
    <ion-content style="height: 87%;">
        <ion-list>
            <ion-checkbox class="pointer" ng-model="item.checked" ng-repeat="item in players | orderBy:'name'">{{item.name}}</ion-checkbox>
        </ion-list>
    </ion-content>

    <div class="bar bar-footer">
        <button class="button button-block button-balanced" style="margin-top: 0px; margin-bottom: 0px;" ng-click="closeGamedate()">Aanwezigheidspunten opslaan</button>
    </div>
</ion-view>