<ion-view view-title="Klassement">
  <ion-nav-buttons side="right">
    <button class="button icon ion-ios-upload-outline" title="Exporteren" ng-click="saveRankingImage();"></button>
  </ion-nav-buttons>

  <ion-content id="myRanking">
    <ion-refresher
      pulling-text=""
      on-refresh="doRefresh()">
    </ion-refresher>

   <canvas id="myCanvas" width="700" height="650" style="border:1px solid #d3d3d3; display: none;">Your browser does not support the HTML5 canvas tag.</canvas>

    <ul class="list">
      <li class="item ranking-row ranking-row-header">
        <div class="row">
          <div class="col col-10">#</div>
          <div class="col"></div>
          <div class="col col-10" title="Matchen gespeeld">MP</div>
          <div class="col col-10 hidden-xs" title="Win">W</div>
          <div class="col col-10 hidden-xs" title="Gelijk">D</div>
          <div class="col col-10 hidden-xs" title="Verloren">L</div>
          <div class="col col-10" title="Aanwezigheidspunten">A</div>
          <div class="col col-15" title="Goals gemaakt">G</div>
          <div class="col col-10" title="Punten">P</div>
        </div>
      </li>
      <li class="item ranking-row" ng-repeat="p in players | orderBy:'-points'" ng-class="$index % 2 == 0 ? 'ranking-row-even' : ''">
        <div class="row">
          <div class="col col-10">{{$index+1}}.</div>
          <div class="col">{{p.name}} <span ng-repeat="t in getTimes(((closedGamedates * 3) - p.matchesPlayed) / 3) track by $index" style="color:red;">*</span></div>
          <div class="col col-10">{{p.matchesPlayed}}</div>
          <div class="col col-10 hidden-xs">{{p.amountWon}}</div>
          <div class="col col-10 hidden-xs">{{p.amountDraw}}</div>
          <div class="col col-10 hidden-xs">{{p.amountLose}}</div>
          <div class="col col-10">{{p.attendancePoints}}</div>
          <div class="col col-15">{{p.goalsScored}}</div>
          <div class="col col-10">{{p.points}}</div>
        </div>
      </li>
    </ul>
  </ion-content>

</ion-view>