<?xml version="1.0" encoding="utf-8"?>
<!--
Specifies the needed package sources for the project.
Configuration in Visual Studio of the sources is not needed by this file.
-->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="nuget release" value="https://industry-tfs-server.veibe.net/tfs/DefaultCollection/_packaging/RadiusNuget/nuget/v3/index.json" />
    <add key="nuget third party" value="https://industry-tfs-server.veibe.net/tfs/DefaultCollection/_packaging/ThirdParty/nuget/v3/index.json" />
    <add key="nuget actemium" value="https://industry-tfs-server.veibe.net/tfs/DefaultCollection/_packaging/Actemium/nuget/v3/index.json" />
    <add key="NugetServer" value="http://industry-tfs-nuget.veibe.net/api/v2" />
  </packageSources>
</configuration>